html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  height: 100vh;
  background-color: #555;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding-left: 30px;
  padding-right: 30px;
  height: 63px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item {
  line-height: 40px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid transparent;
}

.nav-item:hover {
  border-color: #fff;
}

/* container */

section#container {
  display: flex;
  height: calc(100% - 63px);
}

#container .cards {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#container .cards .card {
  width: 250px;
  height: 300px;
  margin: 25px;
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container .cards .card img {
  width: 240px;
}

#container .cards .card h1 {
  font-weight: 500;
}

#container .details {
  flex: 3;
  background-color: #444;
  color: white;
  height: 100%;
}

#container .details .content {
  margin: 25px;
}
